@include media-lg {
  .subscribe {
    .subscribe-container {
      flex-direction: column;
      gap: 0;
      align-items: flex-start;
      h1 {
        line-height: 1.5rem;
      }
      p {
        margin-top: 0.4rem;
      }
    }

    .subscribe-form {
      width: 100%;
      .email-input {
        width: 100%;
      }
      .submit-button {
        width: 100%;
        margin-top: 0.2rem;
      }
    }
  }
}

@include media-md {
  .contents {
    .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 600px 400px 400px;
      .container:nth-child(1) {
        grid-row: 2/3;
      }
      .container:nth-child(3) {
        grid-row: 1/2;
        grid-column: 1/2;
        .container-text {
          margin-top: 5rem;
        }
      }
    }
  }

  .services {
    .services-item {
      ul {
        li:first-child {
          width: 140px;
          height: 140px;
        }
      }
    }
  }

  .footer {
    .footer-contents {
      flex-direction: column;
      &_left {
        flex-direction: column;
        gap: 1rem;
      }
      &_right {
        .sns {
          i {
            margin-left: 0;
            margin-right: 1.6rem;
            margin-top: 2rem;
          }
        }
      }
    }
  }
}

@include media-sm {
  .navi {
    padding: 0 1rem;
  }

  .hero {
    &__text {
      h1 {
        padding: 0 1rem;
        line-height: 1.9rem;
      }
      p {
        margin-top: 1rem;
      }
    }
  }
  .contents {
    .grid {
      padding: 1rem;
    }
  }

  .services {
    .services-item {
      display: block;
      ul {
        margin-bottom: 2rem;
      }
    }
  }

  .footer {
    padding: 0 1rem;
  }
}
